@layer discern.components {
  .discern-choice--radio .discern-choice__control {
    border-radius: 50%;
  }
  .discern-choice--radio .discern-choice__control > span {
    inline-size: 0.4375rem;
    block-size: 0.4375rem;
    border-radius: 50%;
  }
  .discern-choice--radio input:checked + .discern-choice__control > span {
    background: var(--discern-color-on-action);
  }
  @media (forced-colors: active) {
    .discern-choice--radio input:checked + .discern-choice__control > span {
      forced-color-adjust: none;
      background: SelectedItem;
    }
  }
}
